{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Agregar Producto</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('ts_new_producto') }}" method="post" {{ form_enctype(form) }}  role="form">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <fieldset>
                <legend>Agregar Nuevo Producto</legend>
                <div class="form-group">
                    {{ form_widget(form._token) }}
                    {{ form_label(form.nombre, 'Producto:') }}
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.precio_unitario, 'Precio Unitario:') }}
                    {{ form_widget(form.precio_unitario, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.descripcion, 'Descripcion:') }}
                    {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.categoria, 'Elije Categoria:') }}
                    {{ form_widget(form.categoria, { 'attr': {'class': 'form-control chosen-select'} }) }}
                </div>
                <div class="form-group">
                    <a  class="btn btn-danger btn-sm" href="{{ path('ts_home_producto') }}">Retorno</a>
                    <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-ok-sign"></span> Guardar
                    </button>

                </div>
                </fieldset>
                <script src="{{ asset('/bundles/tsbodega/chosen/chosen.jquery.js') }}" type="text/javascript"></script>
                <script src="{{ asset('/bundles/tsbodega/chosen/docsupport/prism.js') }}" type="text/javascript" charset="utf-8"></script>
                <script type="text/javascript">
                    var config = {
                      '.chosen-select'           : {},
                      '.chosen-select-deselect'  : {allow_single_deselect:true},
                      '.chosen-select-no-single' : {disable_search_threshold:10},
                      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                      '.chosen-select-width'     : {width:"95%"}
                    }
                    for (var selector in config) {
                      $(selector).chosen(config[selector]);
                    }
                  </script>
            </form>
            {{ form_end(form) }}
            {{ form(form) }}
        </div>
    </div>
    </div>
</div>
{% endblock %}