{% extends "::base.html.twig" %}
{% block body %}
<form action="{{ path('ts_new_cliente') }}" method="post" {{ form_enctype(form) }} role="form">
    <fieldset>
    <legend>Agregar Nuevo Cliente</legend>
    <div class="form-group">
        {{ form_widget(form._token) }}
        {{ form_label(form.nombres, 'Nombres:') }}
        {{ form_widget(form.nombres, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.apellidos, 'Apellidos:') }}
        {{ form_widget(form.apellidos, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nombreCompleto, 'Nombre Completo:') }}
        {{ form_widget(form.nombreCompleto, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.dpi, 'No. Documento de Indentificación Personal:') }}
        {{ form_widget(form.dpi, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nit, 'Nit:') }}
        {{ form_widget(form.nit, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.telefono, 'No. Nit:') }}
        {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.direccion, 'Dirección:') }}
        {{ form_widget(form.direccion, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        <a  class="btn btn-danger btn-sm" href="{{ path('ts_home_cliente') }}">Retorno</a>
        <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
    </div>
    </fieldset>
</form>
{% endblock %}
