<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('bundles/tsbodega/images/favicon.ico') }}" type="image/x-icon">
        <title>TSBodega</title>
        <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/tsbodega/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/tsbodega/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/tsbodega/css/navbar-fixed-top.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/tsbodega/css/datatables.css') }}">
    {% endblock %}
        <style type="text/css" media="all">
            /* fix rtl for demo */
            .chosen-rtl .chosen-drop { left: -9000px; }
        </style>
    {% block chosen %}
        <link rel="stylesheet" href="{{ asset('/bundles/tsbodega/chosen/docsupport/prism.css') }}">
        <link rel="stylesheet" href="{{ asset('/bundles/tsbodega/chosen/chosen.css') }}">
    {% endblock chosen%}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
        <script src="{{ asset('bundles/tsbodega/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <!--<script src="{{ asset('bundles/tsbodega/vendor/jquery.js') }}" type="text/javascript"></script> -->
        <script src="{{ asset('bundles/tsbodega/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tsbodega/js/datatables.js') }}" type="text/javascript"></script>
    {% endblock javascripts %}
        <!-- Custom styles for this template -->

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Fixed navbar -->
    {% block menu%}
        {% include '::navBar.html.twig' %}
    {% endblock menu%}
        <div class="container">
    {% block avisos%}
        {% for flashMessage in app.session.flashbag.get('exito') %}
            <div class="alert alert-success fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Exito!</strong> {{ flashMessage }}
            </div>
        {% endfor%}
        {% for flashMessage in app.session.flashbag.get('aviso') %}
            <div class="alert alert-warning fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Aviso!</strong> {{ flashMessage }}
            </div>
        {% endfor%}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Error!</strong> {{ flashMessage }}
            </div>
        {% endfor%}
    {%endblock avisos%}
    {% block body %}
    {% endblock %}
            <!-- Main component for a primary marketing message or call to action -->
        </div> <!-- /container -->
    {% block foot %}
    <div class="footer">
      <div class="container">
          <p class="text-muted">&copy; TS {{ ("now"|date('Y') > 2010) ? '2010 - ' ~ "now"|date('Y') : '2010' }}</p>
      </div>
    </div>
    {% endblock foot%}

        <!-- Bootstrap core JavaScript
        ================================================== -->
    {% block jsExtras %}
    {% endblock jsExtras %}
    {% block cssExtras %}
        <style type="text/css">
          /* Override some defaults */
         body {
            background-color: #4E535B;
            //background-color: #DCDDDF;
            //background-color: #777;
            //background-color: #eee;
          }
        </style>
    {% endblock cssExtras %}
        <!-- Placed at the end of the document so the pages load faster-->
    </body>
</html>
