<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cronos</title>
        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/tsbodega/css/uikit.docs.min.css') }}">
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('bundles/tsbodega/vendor/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/tsbodega/js/uikit.min.js') }}" type="text/javascript"></script>
        {% endblock javascripts %}
        <link rel="shortcut icon" href="{{ asset('bundles/tsbodega/images/favicon.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/tsbodega/images/apple-touch-icon.png') }}">
    </head>
    <body>
        {% block menu %}
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="{{ path('ts_bodega_homepage') }}">Cronos</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li>
                        <a href="">Inicio</a>
                    </li>
                    <li>
                        <a href="{{ path('ts_home_producto') }}">Productos</a>
                    </li>
                    <li>
                        <a href="{{ path('ts_home_categoria') }}">Categorias</a>
                    </li>
                    <li>
                        <a href="{{ path('ts_home_cliente') }}">Clientes</a>
                    </li>
                    <li>
                        <a href="#">Ventas</a>
                    </li>
                    <li>
                        <a href="#">Compras</a>
                    </li>
                    <li>
                        <a href="#">Reportes</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
            </nav>
        </div>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-active">
                        <a href="">Frontpage</a>
                    </li>
                    <li>
                        <a href="">Portfolio</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">Documentation</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock menu%}

        {% block body %}

        {% endblock %}

        {% block foot %}{% endblock %}
        {% block js %}{% endblock js %}
    </body>
</html>
